<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/especificacao.css">
    <title>Especificação do Produtos</title>
</head>
<body>
    <div class="conteudo-site">
        
        {% include "partials/header.html"%}

       <div class="informacao-produto">
           <div class="opcoes-selecao">
               <div class="opcao">
                    <h2>Computadores</h2>
                    <p>
                        <a href="">Computadores</a>
                    </p>
                    <p>
                        <a href="">Computadores Gamers</a>
                    </p>
                    <p>
                        <a href="">Impressoras</a>
                    </p>
                    <p>
                        <a href="">Monitores</a>
                    </p>
               </div>
                <div class="opcao">
                    <h2>Computadores</h2>
                    <p>
                        <a href="">Computadores</a>
                    </p>
                    <p>
                        <a href="">Computadores Gamers</a>
                    </p>
                    <p>
                        <a href="">Impressoras</a>
                    </p>
                    <p>
                        <a href="">Monitores</a>
                    </p>
               </div>
           </div>
           <div class="produto">
                            <!-- Swiper -->
                <div class="swiper">
                                            <!-- Swiper -->
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(img/filme1.jpg)"></div>
                        </div>
                    </div>
                </div>
               <div class="conteudo-produto">
                    <div class="comprar">
                       <a href=""><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><span>Comprar</span></a>
                    </div>
                    <div class="preco">
                        <h2>De R$ 1.717,53 por</h2>
                        <h1>R$ 1.129,29</h1>
                        <div class="vezes1">
                            <p>Em 12x sem juros no cartão de R$ 94,11</p>
                            <p>Em 1x no cartão com 10% de desconto</p>
                        </div>
                        <div class="valor">
                            <h1>R$ 959,90</h1>
                        </div>
                        <p>à vista no boleto bancário com 15% de desconto</p>
                    </div>
                    <div class="parcelamento">
                        <div class="cartao">
                            <i class="fa fa-cc-visa" aria-hidden="true"></i>
                            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                            <i class="fa fa-cc-amex" aria-hidden="true"></i>
                        </div>
                        <div class="vezes2">
                            <div class="vezes3">
                                <p>1x R$ 1.016,36 c/ desc</p>
                                <p>2x R$ 564,64 sem juros</p>
                                <p>3x R$ 376,43 sem juros</p>
                                <p>4x R$ 282,32 sem juros</p>
                                <p>5x R$ 225,86 sem juros</p>
                                <p>6x R$ 188,22 sem juros</p>
                            </div>
                             <div class="vezes4">
                                <p>7x R$ 161,33 sem juros</p>
                                <p>8x R$ 141,16 sem juros</p>
                                <p>9x R$ 125,48 sem juros</p>
                                <p>10x R$ 112,93 sem juros</p>
                                <p>11x R$ 102,66 sem juros</p>
                                <p>12x R$ 94,11 sem juros</p>
                            </div>
                        </div>
                    </div>

               </div>
           </div>
       </div>
    </div>
   
        
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="scripts/especificacao.js"></script>
    
</body>
</html>