<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="styles/login.css">
    <title>Loja-Vendas</title>
</head>
<body>
        <div class="container-login">
          	<div class="elementos-login">
          		<label>Login :</label><br><br>
          		<input type="text" name="username" placeholder=" Digite seu Usuário"/>
                <br>
          		<input type="password" name="password" placeholder=" Digite sua Senha">
                <br>
          		<button>Entrar</button>
          		<div class="account">Dou you not Account? <a href="cadastrar.html">&nbsp;Sing up</a></div>   
          	</div>
        </div>           
</body>
</html>