<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/produto.css">
    <link rel="stylesheet" type="text/css" href="styles/especificacao.css">
    <title>Produto</title>
</head>
<body>
    <div class="conteudo-site">

        {% include "partials/header.html"%}

       <div class="informacao-produto">
           <div class="opcoes-selecao">
               <div class="opcao">
                    <h2>Computadores</h2>
                    <p>
                        <a href="">Computadores</a>
                    </p>
                    <p>
                        <a href="">Computadores Gamers</a>
                    </p>
                    <p>
                        <a href="">Impressoras</a>
                    </p>
                    <p>
                        <a href="">Monitores</a>
                    </p>
               </div>
                <div class="opcao">
                    <h2>Computadores</h2>
                    <p>
                        <a href="">Computadores</a>
                    </p>
                    <p>
                        <a href="">Computadores Gamers</a>
                    </p>
                    <p>
                        <a href="">Impressoras</a>
                    </p>
                    <p>
                        <a href="">Monitores</a>
                    </p>
               </div>
           </div>
            <div class="conteudo-grid">
            <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme2.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme2.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme2.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
             <div class="conteudo">
                <img src="img/filme1.jpg" alt="">
                <h1>Computador gamer</h1>
                <p>O computador que você podera usar para jogar os melhores jogos da atualidade</p>
                <div class="preco-comprar">
                    <h2>R$ 2.900.00</h2>
                    <h3>12x de R$ 250.00</h3>
                    <div class="btn-comprar">
                         <a href=""><strong>Comprar</strong></a>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
   
        
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="scripts/especificacao.js"></script>
    
</body>
</html>