        <nav>
            <a href="/"><img src="img/logo.png" alt=""></a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Hardware</a></li>
                <li><a href="">Periféricos</a></li>
                <li><a href="">Computadores</a></li>
                <li><a href="">Placas de Video</a></li>
                <li><a href="">Monitores</a></li>
                <li><a href="">Teclado e Mouse</a></li>
                <li><a href="">Gamer</a></li>
            </ul>
            <div class="login">
                <a href="">Entrar</a>
            </div>
        </nav>
        <div class="input-nav">
            <input type="text" placeholder="Buscar pelo nome">
            <a href=""><i class="fa fa-search fa-lg" aria-hidden="true"></i></a>
        </div>